.vscode/

build/
build-*/
output/
out/
bin/
cache/
scripts/
tests/

CMakeCache.txt
CMakeLists_MinGW.txt
CMakePresets_MinGW.json
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json

Testing/

*.o
*.a
*.so
*.dll
*.exe
*.out
*.sh

*.meowb

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.temp
